<div class="container">
     <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
     <h3>{{currentFocus}}</h3>
    <!-- this is sending the masterTaskList down to the childTaskList -->
    <!-- This is the Data Down part -->
    <!-- []  is input, data from parent to child -->
    <!-- () output, or actions moving out of the child upwards to parent -->
     <task-list-component [childTaskList]="masterTaskList"
                          (clickAndSendIt)="editTask($event)">
     </task-list-component>
     <hr>
     <edit-task [childSelectedTask]="selectedTask"
                (doneEditingThanks)="finishedEditing()"

     ></edit-task>
     <new-task (sendNewTaskToSpace)="addNewTask($event)"
     ></new-task>
</div>
